body {
  margin: 0;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.resourceBoard {
  position: absolute;
  display: inline;
  font-family: monospace;
  right: 0;
  top: 50px;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, darkblue, blue, lightyellow) 1;
  color: darkblue;
}

.resourceBoard > table {
  background-color: lightblue;
  font-size: 20px;
}

.resourceBoard > table > tbody > tr > td:first-child {
  padding-right: 20px;
  font-weight: bold;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: lightblue;
  border: 5px solid blue;
  border-radius: 10px;
}

#tooltipTable {
  margin-left:auto;
  margin-right:auto;
}

#resourceTooltip p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

#buildingsTooltip {
  width: 200px;
}

#gameInfoBoard {
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 10px;
  padding-right: 10px;
}

#rightClickMenu {
  display: none;
  position: absolute;
  border: 2px solid black;
  font-style: italic;
  background-color: lightblue;
  border-radius: 5px;
  user-select: none;
}

#rightClickMenu > tr {
  margin-left: 50px;
}

#rightClickMenu tr:hover {
  border-color: black;
  background-color: blue;
  color: lightblue;
}

/*
#showBuildingsButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: lightblue;
  font-size: 1.5em;
  border-color: blue;
  border-width: 3px;
  border-radius: 5px;
}

#showBuildingsButton:active {
  border-color: black;
  background-color: blue;
  color: lightblue;
}
*/
